<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    
    <servlet>
        <servlet-name>tmp2</servlet-name>
        <servlet-class>ec.gob.senagua.servlet.tmp2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServIngresoCliente</servlet-name>
        <servlet-class>ec.gob.senagua.servlet.ServIngresoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServBarra</servlet-name>
        <servlet-class>ec.gob.senagua.servlet.ServBarra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCerrarSecion</servlet-name>
        <servlet-class>ec.gob.senagua.servlet.ServCerrarSecion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServIngresoConsumo</servlet-name>
        <servlet-class>ec.gob.senagua.servlet.ServIngresoConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerPruebaConsumo</servlet-name>
        <servlet-class>ec.gob.senagua.servlet.ServIngresoConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServControlSistema</servlet-name>
        <servlet-class>ec.gob.senagua.servlet.ServControlSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServMostrarCliente</servlet-name>
        <servlet-class>ec.gob.senagua.servlet.ServMostrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerBuscarCliente</servlet-name>
        <servlet-class>ec.gob.senagua.servlet.SerBuscarCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tmp2</servlet-name>
        <url-pattern>/tmp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServIngresoCliente</servlet-name>
        <url-pattern>/IngresoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServBarra</servlet-name>
        <url-pattern>/Barra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCerrarSecion</servlet-name>
        <url-pattern>/CerrarSecion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServIngresoConsumo</servlet-name>
        <url-pattern>/IngresoConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServControlSistema</servlet-name>
        <url-pattern>/ControlSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServMostrarCliente</servlet-name>
        <url-pattern>/MostrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerBuscarCliente</servlet-name>
        <url-pattern>/BuscarCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
